.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 20px;
  padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-contenedor{
  display: flex;
  flex-direction: left;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10px;
  background-color: rgb(45, 95, 45);
}
.navbar-contenedor .App-logo{
  height: 70px;
width: auto;
}
ul{
  list-style: none;
}

ul li{
  display: inline-block;
  padding: 0px 20px;
}
ul li a{
  font-size: 25px;
  padding: 19px;
  margin:66px;
  text-decoration: none;
  color: orangered;
}
 .btn button{
font-size: 20px;
padding: 10px 20px;
border: none;
border-radius: 40px;
color: orangered;
}